.dog{ //dog body container
    @include baseBottomLeft(-7%,38%,400px,300px);
    transform: translate(-50%,0) scale(1.25);
    //border: 1px solid #ff572d;
}
.dog::after{
    content: '';
    @include baseBottomLeft(67px,113px,210px,57px);
    background: rgba($dog-darker,0.1);
    border-radius: 90%;
    z-index: -1;
}
.dog-head{
    @include baseTopLeft(0,150px,130px,100px);
    position: absolute;
    //border: 1px solid brown;
}
.dog-head-form{
    @include baseTopLeft(20px,60px,80px,66px);
    background: $dog-grey;
    border-radius: 60% 90% 70% 40%;
    transform: rotate(16deg);
    z-index: 2;
}
.dog-ear-1{
    @include baseTopLeft(24px,56px,28px,60px);
    background: $dog-darker;
    border-radius: 100% 80% 160% 60%;
    z-index: 4;
}
.dog-ear-2{
    @include baseTopLeft(26px,98px,39px,26px);
    background: #888783;
    border-radius: 40% 10% 90% 40%;
    -webkit-transform: rotate(31deg);
    transform: rotate(265deg);
    z-index: 0;
}
.dog-eye-1{
    @include baseTopLeft(38px,94px,10px,13px);
    background: white;
    border-radius: 50%;
    z-index: 2;
}
.dog-eye-1::after{
    content: '';
    @include baseBottomRight(1px,0,7px,9px);
    background: #222222;
    border-radius: 50%;
    z-index: 2;
}
.dog-eye-2{
    @include baseTopLeft(34px,112px,10px,13px);
    background: white;
    border-radius: 50%;
    z-index: 2;
}
.dog-eye-2::after{
    content: '';
    @include baseBottomRight(1px,0,7px,9px);
    background: #222222;
    border-radius: 50%;
    z-index: 2;
}
.dog-nose{
    @include baseTopLeft(52px,111px,44px,30px);
    background: $dog-darker;
    border-radius: 40% 40% 90% 40%;
    transform: rotate(2deg);
    z-index: 2;
}
.dog-nose::after{
    content: '';
    @include baseTopRight(1px,1px,17px,11px);
    background: #323232;
    border-radius: 60% 50%;
    transform: rotate(2deg);
    z-index: 2;
}
.dog-mouth{
    @include baseTopLeft(60px,135px,14px,16px);
    border-left: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-radius: 50% 120%;
    transform: rotate(-70deg);
    z-index: 2;
}
.dog-tongue{
    @include baseBottomLeft(17px,122px,30px,12px);
    background: #f7b4cb;
    border-radius: 30% 200% 80% 20%;
    transform: rotate(45deg);
    z-index: 0;
}
.dog-tongue::after{
    content: '';
    @include baseBottomLeft(3px,-7px,30px,10px);
    background: #e5a7bc;
    border-radius: 30% 200% 80% 20%;
    transform: rotate(0deg);
}
.dog-body{
    @include baseTopLeft(80px,120px,130px,137px);
    //border: 1px solid darkslategrey;
}
.dog-neck{
    @include baseTopRight(-10px,0,60px,40px);
    background: $dog-grey;
    border-radius: 160% 40% 70% 50%;
    transform: rotate(12deg);
    z-index: 2;
}
.dog-torse{
    @include baseTopRight(-2px,3px,75px,60px);
    border: 1px solid $dog-grey;
    background: $dog-grey;
    border-radius: 200% 10% 150% 70%;
    transform: rotate(10deg);
    z-index: 2;
}
.dog-belly{
    @include baseTopRight(22px,16px,95px,70px);
    border: 1px solid $dog-grey;
    background: $dog-grey;
    border-radius: 200% 10% 150% 70%;
    transform: rotate(140deg);
    z-index: 2;
}
.dog-spot{
    @include baseTopLeft(24px,23px,20px,63px);
    background: $dog-darker;
    border-radius: 80% 30% 90% 80%;
    transform: rotate(40deg);
    z-index: 2;
}
.dog-ass{
    @include baseBottomLeft(1px,0,80px,80px);
    border: 1px solid $dog-grey;
    background: $dog-grey;
    border-radius: 130% 80% 100% 50%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-tail{
    @include baseTopLeft(55px,-45px,80px,60px);
    border-left: 5px solid $dog-darker;
    border-bottom: 5px solid $dog-darker;
    border-radius: 80% 200%;
    z-index: 0;
}
.dog-front-legs{
    @include baseTopLeft(10px,90px,40px,115px);
    //border: 1px solid darkslategrey;
}
.dog-leg-fl{
    @include baseTopLeft(0,0,18px,110px);
    background: linear-gradient(0deg, $dog-superlight 15%, $dog-grey 30%);
    border-radius: 10% 200% 70% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-leg-fl::after{
    content: '';
    @include baseBottomLeft(-3px,3px,25px,17px);
    background: $dog-superlight;
    border-radius: 40% 240% 60% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-leg-fr{
    @include baseTopRight(-14px,2px,15px,110px);
    background: linear-gradient(0deg, $dog-superlight 20%, $dog-grey 30%);
    border-radius: 10% 200% 70% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-leg-fr::after{
    content: '';
    @include baseBottomLeft(-3px,3px,25px,17px);
    background: $dog-superlight;
    border-radius: 40% 240% 60% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-back-legs{
    @include baseTopLeft(112px,10px,40px,115px);
    transform: rotate(-90deg) translate(-11%, -13%) scaleY(0.8);
    transform-origin: top center;
    //border: 1px solid darkslategrey;
}
.dog-leg-bl{
    @include baseTopLeft(0,0,18px,110px);
    border: 1px solid $dog-grey;
    background: $dog-grey;
    border-radius: 10% 200% 70% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-leg-br{
    @include baseTopRight(-14px,0,15px,110px);
    background: $dog-grey;
    border-radius: 10% 200% 70% 150%;
    transform: rotate(0deg);
    z-index: 2;
}
.dog-cloud{
    @include baseTopLeft(-43px,-15px,165px,70px);
    padding: 5px 10px 10px 10px;
    border: 2px solid #eee;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -2px 14px 68px -27px rgba(0,0,0,0.3);
}
.dog-cloud:after{
    content: '';
    @include baseBottomRight(4px,4px,13px,13px);
    display: block;
    background: $background;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    transform: translate(50%, 50%) skew(20deg) rotate(10deg);
}
.dog-cloud-txt{
    font-weight: 300;
    font-size: 12px;
    color: #f9f9f9;
}